#menu {
    width: 100%;
    height: 100%;
    padding: 0em 0em;
    /* ensure pointer cursor */
    cursor: pointer;
    /* set position for child */
    position: relative;
    /* set menu color */
    background: inherit;
}

#menu img {
    width: 20px;
    height: 15px;    
    margin: 5px 5px;
    vertical-align: middle;
    text-align: center;
}

#menu-content {
    /* hidden initially */
    display: none;
    /* position relative to parent */
    position: absolute;
    /* ensure fully below parent */
    top: 100%;
    right: 0%;
    background-color: inherit;
    margin: 0em;
    padding: 0em;
    /* help with visibility */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    /* ensure in front of everything */
    z-index: 1;
}

#menu:hover #menu-content {
    /* visible on hover */
    display: block;
}

#menu a {
    color: #5b4b25;
    /* styling */
    padding: 0.5em 0.5em;
    /* remove link underline */
    text-decoration: none;
    /* ensure fills out space */
    display: block;
}

#menu a:hover {
    background: #000000;
    color: #d5c397;
}
