a {
    text-decoration: none;
    color: #a28744;
}

a:visited {
    text-decoration: none;
    color: #6c5a2d;
}

.project-title {
    margin: 0em;
    padding: 0em;
    border: 0px dashed black;
    flex-wrap: none;
}

.project-description {
    display: inline;
    margin: 0em;
    padding: 0em;
    border: 0px dashed black;
    flex-wrap: wrap;
}

.list div {
    margin: 0em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.list-even {
    background: #f7f5ed;
    border: 2px solid #f7f5ed;
    /* IE11 & flexbox issue */    
    width: 100%;
}

.list-odd {
    background: #e8e0c9; 
    border: 2px solid #e8e0c9;
    /* IE11 & flexbox issue */
    width: 100%;    
}

.list-odd:hover,.list-even:hover {
    border: 2px solid #362e17;
}

.list a { color: #000000; }

@media only screen and (max-width: 768px) {
    .list-odd  { padding: 0em 0.5em; }
    .list-even { padding: 0em 0.5em; }
    .publication { padding: 0em; }    
    .project { padding: 0.5em; }    
    .project-title { font-size: 1.5em; }
}

@media only screen and (min-width: 768px) {
    .list-even { padding: 0em 1em; }
    .list-odd  { padding: 0em 1em; }
    .publication { padding: 0em; }
    .project { padding: 1em; }
    .project-title { font-size: 2em; }    
}
