a {
    text-decoration: none;
    color: #a28744;
}

a:visited {
    text-decoration: none;
    color: #6c5a2d;
}

.project-list div {
    margin: 0em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.project-title {
    margin: 0em;
    padding: 0em;
    border: 0px dashed black;
    flex-wrap: none;
}

.project-description {
    display: inline;
    margin: 0em;
    padding: 0em;
    border: 0px dashed black;
    flex-wrap: wrap;
}

.project-even {
    background: #f7f5ed;
    border: 2px solid #f7f5ed;
}

.project-odd {
    background: #e8e0c9; 
    border: 2px solid #e8e0c9;
}

.project-odd:hover,.project-even:hover {
    border: 2px solid #362e17;
}

@media only screen and (max-width: 768px) {
    h1,h2 {
	margin: 0em;
    }
    ul {
	padding: 0em 0em 0em 1em;
    }
    .project-list div {
	margin: 0em;
	padding: 0.5em;
    }
    .project-title {
	font-size: 1.5em;
    }
}

@media only screen and (min-width: 768px) {
    .project-list div {
	padding: 1em;
    }    
    .project-title {
	font-size: 2em;
    }    
}
