{{ define "main" }}
{{ $odd := false }}
<div class="project-list">
  {{ range .Pages.ByDate.Reverse }}
    <a href="{{ .Permalink }}">  
    {{ if eq $odd false }}
    <div class="project-even">  
      {{ $odd = true }}
      {{ else }}
      <div class="project-odd">
	  {{ $odd = false }}
	  {{ end }}
	<p class="project-title">	  
	  {{ if .Params.subtitle }}
	  {{ .Params.subtitle }}
	  {{ else }}
	  {{ .Params.title }}      
	  {{ end }}
	</p>
	<p class="project-description">
	  {{ if .Params.description }}{{ .Params.description }}{{ end }}
	</p>
      </div>
      {{ end }}
    </a>
</div>
{{ end }}
