{{ define "main" }}
{{ $odd := false }}
{{ $lc := "" }}
<div class="list">
  {{ range .Pages.ByDate.Reverse }}
  <a href="{{ .Permalink }}">
  {{ if eq $odd false }}{{ $lc = "list-even" }}{{ else }}{{ $lc = "list-odd" }}{{ end }}
  <div class={{$lc}}>
    <p>
    <p class="list-title">	  
      {{ if .Params.subtitle }}
      {{ .Params.subtitle }}
      {{ else }}
      {{ .Params.title }}      
      {{ end }}
    </p>
    <p class="list-description">
      {{ if .Params.description }}{{ .Params.description }}{{ end }}
    </p>
    </p>
  </div>
  {{ $odd = not $odd }}
  {{ end }}
  </a>
</div>
{{ end }}
