{{ define "main" }}
{{ $tags := .Params.tags }}
{{ $publications := where (.Site.GetPage "publications").Pages.ByDate.Reverse "Params.tags" "intersect" $tags }}
{{ $talks := where (.Site.GetPage "talks").Pages.ByDate.Reverse ".Params.tags" "intersect" $tags }}
{{ $downloads := where (.Site.GetPage "downloads").Pages.ByDate.Reverse ".Params.tags" "intersect" $tags }}

<h1>{{ .Title }}</h1>
{{ .Content }}

{{ if gt (len $downloads) 0 }}
<h2>Downloads</h2>
{{ partial "lists.html" (dict "items" $downloads "max" 3 "partial" "download.html") }}
{{ end }}

{{ if gt (len $publications) 0 }}
<h2>Related Publication(s)</h2>
{{ partial "lists.html" (dict "items" $publications "max" 5 "partial" "publication.html") }}
{{ end }}


{{ if gt (len $talks) 0 }}
<h2>Related Talk(s)</h2>
{{ partial "lists.html" (dict "items" $talks "max" 3 "partial" "talk.html") }}
{{ end }}

{{ end }}
