html, body {
    margin: 0;
    padding: 0px;
    background: #ffffff;
    height: 100%;
    font-family: Helvetica; 
}
.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    border: none;
    background: #ffffff;
    border-radius: 10px;
}
.content {
    margin: 0em auto;    
    color: #594b26;
}
.topbar {
    display: flex;
    flex-wrap: nowrap;    
    background: #d5c397;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin: 0em;
}

.topbar-title {
    white-space: nowrap;
    font-weight: bold;
    padding: 0.25em 0em 0em 0.25em;
}

.topbar-subtitle {
    font-style: italic;
    padding: 0em 0em 0.25em 0.25em;
}

.topbar-social {
    margin: 0em 0em;
    flex-grow: 1;
}

.topbar-menu {
    background: inherit;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.banner {
    position: relative;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;    
    width: 100%;
}

.banner-image {
    position: absolute;
    width: 100%;
    top: 0;  bottom: 0;  left: 0;  right: 0;
    padding: 0em 0em 0em 0em;
    margin: 0em 0em 0em 0em;
    border-style: solid;
    border-width: 0 0 1px 0;    
}

.size_1024_300 {
    width: 100%;
    padding-bottom: 29.3%;
    background: white;
}

.size_2048_400 {
    width: 100%;
    padding-bottom: 19%;
    background: white;
}

.size_2048_850 {
    width: 100%;
    padding-bottom: 41.5%;
    background: white;
}

@media only screen and (max-width: 992px) {    
    .content { width: 90%; padding: 5%; font-size: 14pt; line-height: 130%; }
    .topbar { padding: 0em; margin: 0em; align-items: center; }
    .topbar-title { font-size: 1em; }
    .topbar-subtitle { font-size: 0.75em; }
    .topbar-subtitle::before { content: "A/Prof Computer Science"; }
    .topbar-social { line-height: 1em; font-size: 1.4em; padding: 0.25em 0.25em 0.25em 0.5em; }
    .topbar-social a { padding: 0em 0.5em 0em 0em; }
}

@media only screen and (min-width: 992px) {
    .content { width: 75%; font-size: 16pt; line-height: 150%; padding: 2em;}
    .topbar { padding: 0em 0.5em; align-items: flex-end; }
    .topbar-title { font-size: 2em; }
    .topbar-subtitle { font-size: 1.5em; }
    .topbar-subtitle::before { content: "Associate Professor of Computer Science"; }
    .topbar-social { font-size: 1.5em; padding: 0em 0em 0.25em 1em; }
    .topbar-social a { padding: 0em 0.25em 0em 0em; }
    .topbar-menu { font-size: 14pt; }
}
