{{ define "main" }}
<h1 class="post-title">{{ .Title }}</h1>
<div class="post-date">
  {{ .Date.Format "Monday, January" }}
  {{ .Date.Format "2" | humanize}},
  {{ .Date.Format "2006" }}      
</div>
<hr/>
{{ .Content }}
<hr/>
{{ if or (.Params.twitter) (.Params.reddit) }}
<i>Follow the discussion on
  {{ $first := true }}
  {{ if .Params.twitter }}  
  <a href="{{.Params.twitter}}">Twitter</a>
  {{ $first = false }}
  {{ end }}
  {{ if .Params.reddit }}    
  {{ if not $first }}
  or
  {{ end }}
  <a href="{{.Params.reddit}}">Reddit</a>
  {{ $first = false }}
  {{ end }}  
</i>
{{ end }}
{{ end }}
