---
date: 2012-11-06
title: "Rustan on Automatic Program Verification"
draft: true
---

Yesterday I came across an interesting talk given by <a href="http://research.microsoft.com/en-us/um/people/leino/">Rustan Leino</a> at the University of Edinburgh in 2011.  Rustan takes an interesting look overview over the subject's history, and then shows several tools in action (including <a href="http://social.technet.microsoft.com/wiki/contents/articles/microsoft-code-contracts.aspx">Code Contracts</a> and <a href="http://research.microsoft.com/en-us/projects/dafny/">Dafny</a>):
<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/5t4WntcsZZo" frameborder="0" allowfullscreen></iframe>
</center>
Anyway, Rustan has a long history in program verification now, and was heavily involved in the influential <a href="http://en.wikipedia.org/wiki/ESC/Java">ESC/Java</a> and <a href="http://en.wikipedia.org/wiki/Spec_Sharp">Spec#</a> verification tools, so definitely worth a look!