---
date: 2012-11-06
title: "Rustan on Automatic Program Verification"
draft: false
---

Yesterday I came across an interesting talk given by [Rustan Leino](http://research.microsoft.com/en-us/um/people/leino/) at the University of Edinburgh in 2011.  Rustan takes an interesting look overview over the subject's history, and then shows several tools in action (including [Code Contracts](http://social.technet.microsoft.com/wiki/contents/articles/microsoft-code-contracts.aspx) and [Dafny](https://dafny.org)):

{{<youtube id="5t4WntcsZZo">}}

Anyway, Rustan has a long history in program verification now, and was heavily involved in the influential {{<wikip page="ESC/Java">}}ESC/Java{{</wikip>}} and Spec# verification tools, so definitely worth a look!
