<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">    
    <title>David J. Pearce
      {{ if .Title }}
      ({{.Title}})
      {{ end }}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/page.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/menu.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  </head>
  <body>
    <script>
      function toggleMenu() {
        if(window.innerWidth <= 768) {
          var content = document.getElementById("menu-content");
          var menu = document.getElementById("menu");
          if(content.style.display === 'block') {
            content.style.display = 'none';
            menu.style.filter = '';     
          } else {
            content.style.display = 'block';
            menu.style.filter = "brightness(0.8)";       
          }
	}
      }
    </script>    
    <header class="topbar">
      <div class="topbar-title">Dr. David J. Pearce</div>
      <div class="topbar-subtitle"></div>
      <div class="topbar-social">	
	<a href="https://github.com/DavePearce"><i class="fa fa-github" aria-hidden="true"></i></a>
	<a href="https://twitter.com/WhileyDave"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.youtube.com/user/redjamjar/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>	
	<a href="https://www.linkedin.com/in/david-pearce-8592647/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>
      <div class="topbar-menu" onclick="toggleMenu()">
	<div id="menu">
	  <div id="menu-icon"><img src="{{.Site.BaseURL}}/images/menu.png"/></div>	    
	  <div id="menu-content">
	    {{ $p := .Title }}
	    {{ range .Site.Sections }}
	    {{ if eq .Title $p }}
	    <a class="selected" href="{{.Permalink}}">{{.Title}}</a>
	    {{ else }}
	    <a href="{{.Permalink}}">{{.Title}}</a>
	    {{ end }}
	    {{ end }}
	    {{ if .Page.IsHome }}
	    <a class="selected" href="{{.Site.BaseURL}}">Home</a>
	    {{ else }}
	    <a href="{{.Site.BaseURL}}">Home</a>
	    {{ end }}	    
	  </div>
	</div>
      </div>
    </header>
    {{ if .Page.Params.banner }}
    <img class="banner" src="{{ .Site.BaseURL }}{{.Page.Params.banner}}" alt="{{.Page.Params.banner_alt}}"/>
    {{ end }}
    <div class="container">
      <div class="content">
	{{ block "main" . }}
	{{ end }}
      </div>
    </div>
    {{ template "_internal/google_analytics.html" . }}    
  </body>
</html>
