<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">    
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/page.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/menu.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
  </head>
  <body>
    <script>
      function toggleMenu() {
        if(window.innerWidth <= 768) {
          var content = document.getElementById("menu-content");
          var menu = document.getElementById("menu");
          if(content.style.display === 'block') {
            content.style.display = 'none';
            menu.style.filter = '';     
          } else {
            content.style.display = 'block';
            menu.style.filter = "brightness(0.8)";       
          }
	}
      }
      function clearMenu() {
        if(window.innerWidth <= 768) {				
          document.getElementById("menu-content").style.display='none';
          document.getElementById("menu").style.filter='';
	}
      }      
    </script>    
    <header class="topbar" onclick="toggleMenu()">
      <div class="topbar-title">Dr. David J. Pearce</div>
      <div class="topbar-subtitle">Associate Professor of Computer Science</div>
      <div class="topbar-menu">
	<div id="menu">
	  <div id="menu-icon"></div>	    
	  <div id="menu-content">
	    {{ if .Page.IsHome }}
	    <a class="selected" href="{{.Site.BaseURL}}">Home</a>
	    {{ else }}
	    <a href="{{.Site.BaseURL}}">Home</a>
	    {{ end }}
	    {{ $p := .Title }}
	    {{ range .Site.Sections }}
	    {{ if eq .Title $p }}
	    <a class="selected" href="{{.Permalink}}">{{.Title}}</a>
	    {{ else }}
	    <a href="{{.Permalink}}">{{.Title}}</a>
	    {{ end }}
	    {{ end }}
	  </div>
	</div>
      </div>
    </header>
    {{ if .Page.Params.banner }}
    <img class="banner" src="{{ .Site.BaseURL }}{{.Page.Params.banner}}" alt="{{.Page.Params.banner_alt}}"/>
    {{ end }}
    <div class="container">
      <div class="content">	
	{{ block "main" . }}
	{{ end }}
      </div>
    </div>
    <script>
      /*clearMenu();*/
    </script>
  </body>
</html>
