/* ====================================================== */
/* Page Layout */
/* ====================================================== */

body {
    margin: 0;
    padding: 0px;
    font-family: "helvetica";
    background: #d5c397;
}

#container {
    margin: 2em auto;
    padding: 0px;
    width: 1024px;
    text-align: left;
    border-radius: 12px;
    border: none;
    background: #ffffff;
    box-shadow: 2px 2px 5px 0 #000;    
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header {
    margin-bottom: 2em;
    padding: 1em;
}

#content {
    padding: 1em;
    font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
    font-size: 11pt;    
}
