{{ define "main" }}
{{ $tags := .Params.tags }}
{{ $projects := where (.Site.GetPage "projects").Pages.ByDate.Reverse ".Params.tags" "intersect" $tags }}
{{ $talks := where (.Site.GetPage "talks").Pages.ByDate.Reverse ".Params.tags" "intersect" (slice .File.TranslationBaseName) }}

<h1>{{ .Title }}</h1>

<p><b>Author(s).</b> {{ .Params.Authors }}.</p>

<p><b>Venue.</b>
{{ if .Params.thesis }}
  {{ .Params.thesis }} Thesis,
  <i>{{ .Params.school }},</i>  
  {{ else }}
  In <i>{{ .Params.Booktitle }}, </i>
  {{ if .Params.Volume }}
    {{.Params.Volume}}
    {{ if .Params.Number }}({{.Params.Number}}),{{ end }}
  {{ end }}
  {{ if .Params.Pages }}pages {{ .Params.Pages }},{{ end }}
  {{ end }}
  {{ .Date.Format "2006" }}.  
  {{ if .Params.Copyright }}©{{.Params.Copyright}}{{end}}
</p>

{{ .Content }}

<div class="publication-links">
{{ $first := true }}
{{ if .Params.preprint }}
{{ if (not $first) }} / {{ end }}  
<a href="{{.Site.BaseURL}}publications/{{.Params.preprint}}">PDF</a>
{{ $first = false }}
{{end}}
{{ if .Params.slides }}
{{ if (not $first) }} | {{ end }}  
<a href="{{.Params.slides}}">Slides</a>
{{ $first = false }}
{{end}}
{{ if .Params.DOI }}
{{ if (not $first) }} | {{ end }}  
<a href="https://doi.org/{{.Params.DOI}}">DOI</a>
{{ $first = false }}
{{end}}
{{ if .Params.website }}
{{ if (not $first) }} | {{ end }}  
<a href="{{.Params.website}}">Conference Website</a>
{{ $first = false }}
{{end}}
</div>

{{ if gt (len $talks) 0 }}
<h2>Related Talks(s)</h2>
<div class="list">
  {{ $odd := false }}
  {{ $lc := "" }} 
  {{ range $talks }}
  {{ if eq $odd false }}{{ $lc = "list-even" }}{{ else }}{{ $lc = "list-odd" }}{{ end }}
  <div class={{$lc}}>
    {{ partial "talk.html" . }}    
  </div>
  {{ $odd = not $odd }}
  {{ end }}
</div>
{{ end }}

{{ if gt (len $projects) 0 }}
<h2>Related Project(s)</h2>
<div class="list">
  {{ $odd := false }}
  {{ $lc := "" }} 
  {{ range $projects }}
  {{ if eq $odd false }}{{ $lc = "list-even" }}{{ else }}{{ $lc = "list-odd" }}{{ end }}
  <div class={{$lc}}>
    {{ partial "project.html" . }}    
  </div>
  {{ $odd = not $odd }}
  {{ end }}
  </div>
{{ end }}

{{ end }}
