{{ define "main" }}

<h1>{{ .Title }}</h1>
{{ .Content }}

<b>Links:</b>
{{ $first := true }}
{{ if .Params.DOI }}
{{ if (not $first) }} / {{ end }}  
<a href="https://doi.org/{{.Params.DOI}}">DOI</a>
{{ $first = false }}
{{end}}
{{ if .Params.preprint }}
{{ if (not $first) }} / {{ end }}  
<a href="{{.Site.BaseURL}}/publications/{{.Params.preprint}}">PDF</a>
{{ $first = false }}
{{end}}
{{ if .Params.slides }}
{{ if (not $first) }} / {{ end }}  
<a href="{{.Params.slides}}">Slides</a>
{{ $first = false }}
{{end}}
{{ if .Params.website }}
{{ if (not $first) }} / {{ end }}  
<a href="{{.Params.website}}">Website</a>
{{ $first = false }}
{{end}}

{{ end }}
